body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background-color: #00b894;
    font-family: Arial, sans-serif;
    gap: 10px;
}

.container{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.text {
    font-family: 'Segoe UI';
    font-size: 2.5rem;
    font-weight: 700;
    color: #1a202c;
    letter-spacing: -0.02em;
    margin-bottom: 1.5rem;
    text-align: center;
}
.btn {
    background-color: #007bff;
    color: white;
    padding: 12px,24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
}
.btn:hover{
    background-color: #0056b3;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.btn:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.airport-pic-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
    margin: 10px auto;
}

.airport-pic-container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.6);
}

.airport-pic-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 3.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    z-index: 2;
}




.overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Фоновое затемнение */
.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Белая карточка ошибки */
.error-card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-width: 350px;
}

/* Чтобы кнопка внутри карточки была кнопкой */
.error-card .btn {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}
