<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Booking Confirmed</h1>
        <h3>Your booking code is:</h3>
        <h2>{{ booking.booking_code }}</h2>
        <h3>Please save this code to manage your booking.</h3>
        <button><a href="{% url 'allFlights' %}">Return to Homepage</a></button>   
    </div>
    <div>
        <h1>Booking Details: {{booking.booking_code}}</h1>
        <h2>Passenger: {{booking.passenger.name}}</h2>
        <h2>Email: {{booking.passenger.email}}</h2>
        <h2>Flight: {{booking.flight.origin}} to {{booking.flight.destination}}</h2>
        <h2>Duration: {{booking.flight.duration}}</h2>
        <h2>Booking Code: {{booking.booking_code}}</h2>
        <button><a href="{% url 'allFlights' %}">Return to Homepage</a></button>
        
    </div>
</body>
</html>