<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'managebooking' %}">
        {% csrf_token %}
        <h1>Manage Your Booking</h1>
        <h3>Booking Code:
            <input type="text" name="code" placeholder="Enter your booking code" value="{{ request.POST.code}}">
        </h3>
        <button type="submit" class="btn">Find Booking</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error}}</p>
    {% endif %}

    {% if booking %}
        <div class="bookingdetails">
            <h1>Booking Details</h1>
            <h3>Name: {{booking.passenger.name}}</h3>
            <h3>Email: {{booking.passenger.email}}</h3>
            <h3>Flight: {{booking.flight.origin}} -> {{booking.flight.destination}}</h3>
            <h3>Duration: {{booking.flight.duration}}</h3>
            <h3>Booking Code: {{booking.booking_code}}</h3>
            <form method="post" action="{% url 'cancel_booking' booking.booking_code%}">
                {% csrf_token%}
                <button type="submit" onclick="return confirm('Are you sure you want to cancel this booking?');">
                    Cancel Booking
                    </button>
        </div>

    {% endif%}

</body>
</html>